@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;

  min-height: 100vh;
  /* background: linear-gradient(to bottom, #1e2938 0%, #1e2938 30%, #ddd5d5 20%);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




